<div class="container-fluid">
	<div class="row">
		<div id="banner-inicial" class="col-xs-12 col-sm-12 separador-derecha parent">
			<div class="col-md-offset-1 col-md-10  info-banner child-vertical text-center "> 
			
			<div class="col-md-8 col-md-offset-2">
				<h1 class="texto-gris-oscuro animated fadeIn">Kripto <span class="texto-verde"> jobs</span> <h1>
					<h3 class="texto-gris-oscuro"> Es una plataforma cuyo propósito es ayudar a freelancers y empleadores a conectarse más fácil y rápidamente, trabajando a través de la Steem Blockchain.</h3>
			 </div>
			
			</div>
		</div>
	</div>
</div>