<div class="container-fluid" id="buscador-seccion">
	<div class="container">
		<div class="row">
			<div class="col-md-4 form-group"><input id="b-key" name="b-key" type="text" placeholder="Palabra clave" class="form-control input-md"></div>
			<div class="col-md-4 form-group"><select id="b-experiencia" name="b-experiencia" class="form-control">
				<option value="" selected disabled > Buscar por experiencia</option>
				<option value="1">1 año</option>
				<option value="2">2 años</option>
				<option value="3">3 años</option>
				<option value="4">4 años</option>
				<option value="5">+ 5 años</option>
			</select></div>
			<div class="col-md-4 form-group"><input id="b-proyecto" name="proyecto" type="text" placeholder="Proyecto" class="form-control input-md"></div>
		</div>
		<div class="row">
			<div class="col-md-4 form-group"><input id="b-locacion" name="b-locacion" type="text" placeholder="Buscar por Locacion" class="form-control input-md"></div>
			<div class="col-md-4 form-group"><select id="b-categoria" name="b-categoria" class="form-control">
				<option value="" selected disabled > Buscar por categoria</option>
				<option value="1Categoria">1 Categoria</option>
				<option value="2Categoria">2 Categoria</option>
				<option value="3Categoria">3 Categoria</option>
				<option value="4Categoria">4 Categoria</option>
				<option value="5Categoria">5 Categoria</option>
			</select></div>
			<div class="col-md-4 form-group">
				<button class="btn-default btn btn-lg btn-verde texto-blanco col-md-12" type=""> Buscar Trabajo </button>
			</div>
		</div>
	</div>
</div>